<a href="https://colab.research.google.com/github/vudmvn/AnytimeWeightedAStar.jl/blob/main/C7_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 6.1 Basic Properties of Lists

In [1]:
values = [32, 54, 67.5, 29, 35, 80, 115, 44.5, 100, 65] # A list with ten elements
print(values)

[32, 54, 67.5, 29, 35, 80, 115, 44.5, 100, 65]

In [2]:
print(values[5]) # Prints 80, the element at index 5 0

80

In [3]:
values[5] = 87
print(values[5])

87

In [5]:
values[10] = -1

IndexError: list assignment index out of range

In [6]:
for i in range(10) :
  print(i, values[i])

0 32
1 54
2 67.5
3 29
4 35
5 87
6 115
7 44.5
8 100
9 65

In [7]:
for i in range(len(values)) :
  print(i, values[i])

0 32
1 54
2 67.5
3 29
4 35
5 87
6 115
7 44.5
8 100
9 65

In [8]:
for element in values :
  print(element)

32
54
67.5
29
35
87
115
44.5
100
65

In [9]:
scores = [10, 9, 7, 4, 5]
values = scores # Copying list referenc√©

print(values)

scores[3] = 10
print(values[3])

[10, 9, 7, 4, 5]
10

In [10]:
last = values[-1]
print("The last element in the list is", last)

The last element in the list is 5

# 6.2 List Operations

In [12]:
friends = []
friends.append("Harry")

print(friends)

friends.append("Emily")
friends.append("Bob")
friends.append("Cari")

print(friends)

['Harry']
['Harry', 'Emily', 'Bob', 'Cari']

In [13]:
friends.insert(1, "Cindy")
print(friends)

friends.insert(5, "Bill")
print(friends)

['Harry', 'Cindy', 'Emily', 'Bob', 'Cari']
['Harry', 'Cindy', 'Emily', 'Bob', 'Cari', 'Bill']

In [14]:
if "Cindy" in friends :
  print("She's a friend")

She's a friend

In [17]:
friends = ["Harry", "Emily", "Bob", "Cari", "Emily"]
n = friends.index("Emily") # Sets n to 1
print(n)

n2 = friends.index("Emily", n + 1) # Sets n2 to 4
print(n2)

if "Cindy" in friends :
  n = friends.index("Cindy")
else :
  n = -1
print(n)

1
4
-1

In [23]:
friends = ["Harry", "Cindy", "Emily", "Bob", "Cari", "Bill"]

friends.pop(1)
print(friends)

print("The removed item is", friends.pop(1))

friends.remove("Cari")
print(friends)

element = "Cari"
if element in friends :
  friends.remove(element)
print(friends)

['Harry', 'Emily', 'Bob', 'Cari', 'Bill']
The removed item is Emily
['Harry', 'Bob', 'Bill']
['Harry', 'Bob', 'Bill']

In [24]:
myFriends = ["Fritz", "Cindy"]
yourFriends = ["Lee", "Pat", "Phuong"]
ourFriends = myFriends + yourFriends # Sets ourFriends to ["Fritz", "Cindy", "Lee", "Pat", "Phuong"]

print(ourFriends)

['Fritz', 'Cindy', 'Lee', 'Pat', 'Phuong']

In [26]:
monthInQuarter = [1, 2, 3] * 4 # The list is [1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
print(monthInQuarter)

monthlyScores = [0] * 12 # The list is [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
print(monthlyScores)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [27]:
print([1, 4, 9] == [1, 4, 9] )
print([1, 4, 9 ] == [4, 1, 9])
print([1, 4, 9] != [4, 9])

True
False
True